/* === GLOBAL === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  font-family: "Lora", Playfair Display;
  display: flex;
  justify-content: center;
  padding: 50px;
  color: white;
}

.tracker-container {
  width: 420px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);

  border: 1px solid rgba(255, 255, 255, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  color: white;
}

button {
  padding: 12px 20px;
  background: #5a5a5a;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}

button:hover {
  background: #7a7a7a;
}

#clearAll {
  width: 100%;
  margin-top: 20px;
  background: #3a3a3a;
}

#clearAll:hover {
  background: #555;
}

/* TASK ITEM */
#taskList {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  padding: 12px 16px;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;

  backdrop-filter: blur(12px);
}

/* Checkbox animation */
.checkbox {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #aaa;
  cursor: pointer;
  position: relative;
  transition: 0.25s;
}

.checkbox.checked {
  background: #8c8c8c;
  border-color: #bfbfbf;
}

.checkbox.checked::after {
  content: "✔";
  color: black;
  font-size: 16px;
  position: absolute;
  left: 3px;
  top: -1px;
  opacity: 0;
  animation: pop 0.25s forwards;
}

@keyframes pop {
  from { transform: scale(0.4); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.delete-btn {
  cursor: pointer;
  font-size: 18px;
  color: #777;
  transition: 0.25s;
}

.delete-btn:hover {
  color: #bbb;
}
